{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

<main class="main_minimal" role="main">

    <article class="article__wrapper" role="article">
        <header>
            <h1 class="post__title">
                Lorem Ipsum
            </h1>
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </section>
    </article>

    <br />

    {{#foreach posts}}
        {{> card}}
    {{/foreach}}
</main>

{{pagination}}

{{> footer}}